* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Images/bClan.png') no-repeat center center fixed;
    background-size: cover;
}

.forgot-container {
    width: 90%;
    max-width: 400px;
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 15px;
    color: black;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background: transparent;
    color: black;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

#message {
    margin-top: 20px;
    font-size: 14px;
    color: red; /* Message color */
}

.login-text {
    margin-top: 20px;
    font-size: 14px;
}
